---
import Layout from '@/layouts/Layout.astro';
import VideoBg from '@/components/videoBg';
import { BentoIndex } from '@/components/sections/BentoIndex';
---

<Layout title="Dansa Mar Luque">
    <VideoBg client:load />
    <section class="min-w-full px-6 flex flex-col items-center">
        <BentoIndex client:visible />
    </section>
</Layout>
