---
import Layout from '@/layouts/Layout.astro';
import VideoBg from '@/components/videoBg';
---

<Layout title="Dansa Mar Luque">
    <VideoBg client:load />
    <section class="min-w-full px-6 flex flex-col items-center">Mec</section>
</Layout>
